<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">BOOK SHOP</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Home/index">
            <i class="fas fa-home"></i>
            <span>Trang chủ</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Home/Index" data-toggle="collapse" data-target="#HT2" aria-expanded="true" aria-controls="HT2">
            <i class="fas fa-table"></i>
            <span>Hệ thống</span>
        </a>
        <div id="HT2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/User/Index">Nhóm người dùng</a>
                <a class="collapse-item" href="/Admin/User/Index">Tin tức</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#TT" aria-expanded="true" aria-controls="TT">
            <i class="fas fa-newspaper"></i>
            <span>Tin tức</span>
        </a>
        <div id="TT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href=/Admin/Category/Index">Danh mục</a>
                <a class="collapse-item" href=/Admin/Content/Index">Tin tức</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#SP" aria-expanded="true" aria-controls="SP">
            <i class="fas fa-book"></i>
            <span>Sản phẩm</span>
        </a>
        <div id="SP" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href=/Admin/ProductCategory/Index">Danh mục</a>
                <a class="collapse-item" href=/Admin/Product/Index">Tin tức</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#QLC" aria-expanded="true" aria-controls="QLC">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lí chung</span>
        </a>
        <div id="QLC" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href=/Admin/About/Index">Giới thiệu</a>
                <a class="collapse-item" href=/Admin/Footer/Index">Menu</a>
                <a class="collapse-item" href=/Admin/Footer/Index">Slide</a>
                <a class="collapse-item" href=/Admin/Footer/Index">Phản hồi</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
